body {
  font-weight: 500;
  color:white;
}

#logo {
  display: inline-block;
  width: 4em;
  height: 4em;
}

.container-image {
  size : 10%;
  padding : 10px;
  display : inline-flexbox
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 1;
  filter: brightness(30%);
}

nav {
  font-size: 20px;
}

h1 {
  display: block;
  align-content: center;
}

h1 a {
  text-decoration: none;
  color: white;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

section {
  margin: 20px;
  padding-top: 100px;
}

.event {
  width: 300px;
  height: 300px;
}

h2 {
  margin-bottom: 100px;
}

p {
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
  -moz-box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
  box-shadow: 0px 0px 36px -7px rgba(171,171,171,1);
  border-radius: 20px;
  margin-bottom: 2rem;
}


@media screen and (min-width: 650px) {
  .contient-carousel {
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
  }
  }

@media screen and (min-width: 960px) {
  .contient-carousel {
    width: 33%;
    margin-left: 0px;
    margin-right: 0px;
  }
  }

.carousel-control-prev-icon, .carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

input::placeholder {
  color: black;
}

footer p, footer ul li {
  padding: 0px;
  margin: 0px;
}